@charset "utf-8";
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 24px;
    
}
#app{
    background:linear-gradient(45deg,rgb(0 0 0 / 52%),rgb(0 0 0 / 52%)),url(../flag-Stars-and-Stripes-May-1-1795.jpg);
 
}

#app {
    width: 100%;
    height: 100%;
    box-shadow: 16px 5px 20px 0px #00000052;
}

@media (max-width:768px) {
.app-countery{
     height: 60rem;
    }
    
}

body{
    font-family: 'Lato', sans-serif;
    background:linear-gradient(45deg,rgb(0 0 0 / 52%),rgb(0 0 0 / 52%)),url(../img/word.jpg) center;
    background-size: cover
}

/* main app */
.main-app{
    padding: 3px 35px;
    width: inherit;
    height: 39rem;
   
}
@media (max-width:768px) {
    .main-app{
        height: 52rem;
    }
}
@media (min-width:768px) {
    .main-app{
        height: 100vh;
    }
}
.discription-country .small{
    font-size: 15px !important;
    font-weight: 600 !important;
}


#cards{
    height: 10rem;
    width: 90% !important;
}
.discription-country p{
 font-size: 24px;
 font-weight: bold;
}
.search{
    outline:none;
}

li{
    list-style: none;
}

.country{
 opacity: 0;
 padding: 6px;
;
 cursor: pointer;
}


@keyframes animate {
    0%{
        opacity: 0;
        transform: translateX(-88px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}